---
layout: layouts/html.njk
data: getYear
templateClass: home
tags: home
pagination:
  alias: page
  data: active
  size: 1
eleventyExcludeFromCollections: true
permalink: "{{ page.oSlug }}-{{ page.sSlug }}/index.html"
---
<div class="full-width hero-container rm_margins" style="background-image: url({{ page.hero.image.src | url }});">
  <div class="grid-row">
    <div class="grid-col grid-2-3 hero-copy">
      <h1>{{ page.hero.title }}</h1>
      {% if page.hero.subtitle %}
      <p>{{ page.hero.subtitle }}</p>
      {% endif %}
      <div class="button-wrapper">
        <a class="button" href="#form"><span>Get Started Now</span></a>
      </div>
    </div>
    <div class="grid-1-3"></div>
  </div>
</div>

<div class="container-inner_col content-container">

    <div class="grid-row main-container">
      <div class="grid-1-1">
        {{ page.main | markdownify | safe }}
      </div>
    </div>

    <div class="col-section">

    <div class="col">
    {{ page.main | markdownify | safe }}
    </div>

    <!-- formcarry form -->

    <div id="form" class="col form-container">
          <div class="form-wrapper">
            <p class="instructions">To learn more, fill out the form below and we’ll respond within one business day, or call <a href="tel:{{ page.tel }}">{{ page.tel }}</a>.
            <form action="{{ page.analytics.formAction | url }}" method="POST" accept-charset="UTF-8" >
              <p>
                <label>First Name:<br>
                <input type="text" name="firstName" required /></label>   
              </p>
              <p>
                <label>Last Name:<br>
                <input type="text" name="lastName" required /></label>   
              </p>
              <p>
                <label>Phone Number:<br>
                <input type="tel" name="phone" required /></label>
              </p>
              <p>
                <label>Email Address:<br>
                <input type="email" name="email" /></label>
              </p>
              <p>
                <label>
                  How would you like to be contacted?<br>
                  <input type="radio" name="followup" value="email" required> Email<br>
                  <input type="radio" name="followup" value="call" checked> Phone Call<br>
                </label>
              </p>
              <p>
                <label><input type="checkbox" name="subscribe" value="yes" checked> Please send me updates from <strong>{{ page.owner.name }}</strong></label>
              </p>
              <input type="hidden" name="_gotcha"><!-- use this to prevent spam -->
              <input type="hidden" name="campaign" value="{{ page.owner.name }} | {{ page.serviceline }}">
              <input type="hidden" name="source" value="acutecare-initiatives.com/{{ page.oSlug }}-{{ page.sSlug }}/">
              <p>
                <button type="submit">Request Appointment</button>
              </p>
            </form>
          </div>
    </div>

    <!-- END formcarry form -->

    </div>

    <div class="grid-row teasers-container">
    {% for teaser in page.teasers %}
      <div class="teaser-col grid-1-3">
        <img src="{{ teaser.image.src | url }}" alt="src="{{ teaser.image.alt }}">
        <h3>{{ teaser.title }}</h3>
        <p></p>
        <ul>
          {% for term in teaser.terms %}
          <li>{{ term }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
    </div>

</div>

<div class="full-width awards-container">
  <div class="container-inner_col awards-wrapper">

  {% for award in page.awards %}
    <div class="grid-row award awardname">
      <div class="grid-1-1 awarded-by">
        {% if award.subtext %}
        <h4 class="award-text">{{ award.text }}</h4>
        <p class="award-subtext">{{ award.subtext }}</p>
        {% else %}
        <h4 class="award-text_no-subtext">{{ award.text }}</h4>
        {% endif %}
      </div>
    </div>
   {% endfor %}
 
  </div>
</div>
